@font-face {
    font-family: Montserrat-Regular;
    src: url('fonts/montserrat/Montserrat-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('fonts/montserrat/Montserrat-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-ExtraBold;
    src: url('fonts/montserrat/Montserrat-ExtraBold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Medium;
    src: url('fonts/montserrat/Montserrat-Medium.ttf'); 
  }
  
#sec3{
    position:relative;
    background:linear-gradient(0deg,#ffffff,white)   ;

    padding:15px 250px;
   
}
.contact1-form-btn{
    background-color: #E0E1DD;

    max-width: 100px;
    height: 30px;
    border-radius: 25px;
    background: #57b846;
    
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;  
    min-width: 60px;            
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);                                                           
}
.fbt{
    
    display:flex;
    width:100%;
    justify-content: space-between;
    flex-wrap: wrap;
 
}

  .contact1-form-btn:hover {
    background: #333333;
  }
  
  .achieve{
    text-align: center;
    font-size: 50px;
    color: #4FC0D0;
    font-family: Montserrat-Bold;
    margin-top:30px;
  }
.sec4{
    text-align: center;
    font-family: 'Cinzel', serif;
    
    
}
.items{
    padding:30px;
}